<a href="https://colab.research.google.com/github/ycl818/Data_python/blob/main/Iris(2021_1_12).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets

In [2]:
iris = datasets.load_iris()

In [3]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [4]:
import pandas as pd

In [5]:
x = pd.DataFrame(iris['data'],columns=iris['feature_names'])
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
y = pd.DataFrame(iris['target'],columns=['target'])
y

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 1 columns]

In [7]:
data = pd.concat([x,y], axis =1)
data

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [8]:
print(dict(enumerate(iris['target_names'])))

{0: 'setosa', 1: 'versicolor', 2: 'virginica'}

In [9]:
y1 = pd.DataFrame(pd.Series(iris['target']).map(dict(enumerate(iris['target_names']))),columns=['target_name'])
y1

    target_name
0        setosa
1        setosa
2        setosa
3        setosa
4        setosa
..          ...
145   virginica
146   virginica
147   virginica
148   virginica
149   virginica

[150 rows x 1 columns]

In [10]:
data = pd.concat([x,y1], axis =1)
data

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target_name
0                  5.1               3.5  ...               0.2       setosa
1                  4.9               3.0  ...               0.2       setosa
2                  4.7               3.2  ...               0.2       setosa
3                  4.6               3.1  ...               0.2       setosa
4                  5.0               3.6  ...               0.2       setosa
..                 ...               ...  ...               ...          ...
145                6.7               3.0  ...               2.3    virginica
146                6.3               2.5  ...               1.9    virginica
147                6.5               3.0  ...               2.0    virginica
148                6.2               3.4  ...               2.3    virginica
149                5.9               3.0  ...               1.8    virginica

[150 rows x 5 columns]

In [14]:
iris = datasets.load_iris()
x = pd.DataFrame(iris['data'],columns=iris['feature_names'])
print("target_names:"+ str(iris['target_names']))
y = pd.DataFrame(iris['target'], columns=['target'])
data = pd.concat([x,y],axis =1)
data.head(3)

target_names:['setosa' 'versicolor' 'virginica']

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0

[3 rows x 5 columns]

In [17]:
data[['sepal length (cm)']].head(5)

   sepal length (cm)
0                5.1
1                4.9
2                4.7
3                4.6
4                5.0

In [19]:
import numpy as np

In [21]:
np.random.randn(6,4)

array([[-0.05485245,  0.07908118, -0.44654606,  0.87501037],
       [-0.36529669, -0.32580802, -0.36241787,  0.24923818],
       [ 0.26861634, -1.04173407, -1.31849533, -1.51988256],
       [ 1.41450269, -0.16323281, -0.59253984,  0.51607874],
       [ 1.15564695,  0.81362742,  0.57863217, -0.8432668 ],
       [ 0.62992783,  1.44756218, -0.34871972, -0.19948677]])

In [24]:
df = pd.DataFrame(np.random.randn(6,4), columns=['a','b','c','d'])
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

          a         b         c         d
0  1.118712  0.191730  0.043374  1.382744
1  2.425641  1.375565 -0.786740  1.644715
2  0.387199  0.265987  1.586220 -1.152881
3  1.166877  1.225111  0.098552 -0.022428
4 -1.214613  0.571718 -0.030154  0.418802
5 -1.473293  1.217255 -0.264534  0.556263

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [26]:
data.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)      target
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [27]:
data.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [28]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [31]:
print(type(data['sepal length (cm)'].head(3)))

<class 'pandas.core.series.Series'>

In [36]:
print(type(data[['sepal length (cm)']].head(3)))

<class 'pandas.core.frame.DataFrame'>

In [38]:
data[['sepal length (cm)']].head(3)

   sepal length (cm)
0                5.1
1                4.9
2                4.7

In [37]:
data[['sepal length (cm)']][:3]

   sepal length (cm)
0                5.1
1                4.9
2                4.7

In [39]:
data[['sepal length (cm)']][5:10]

   sepal length (cm)
5                5.4
6                4.6
7                5.0
8                4.4
9                4.9

In [41]:
data.loc[5:9, ['sepal length (cm)']]

   sepal length (cm)
5                5.4
6                4.6
7                5.0
8                4.4
9                4.9

In [43]:
data[data['sepal length (cm)']>7]

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
102                7.1               3.0  ...               2.1       2
105                7.6               3.0  ...               2.1       2
107                7.3               2.9  ...               1.8       2
109                7.2               3.6  ...               2.5       2
117                7.7               3.8  ...               2.2       2
118                7.7               2.6  ...               2.3       2
122                7.7               2.8  ...               2.0       2
125                7.2               3.2  ...               1.8       2
129                7.2               3.0  ...               1.6       2
130                7.4               2.8  ...               1.9       2
131                7.9               3.8  ...               2.0       2
135                7.7               3.0  ...               2.3       2

[12 rows x 5 columns]

In [44]:
data[data['target'].isin([1,2])]

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
50                 7.0               3.2  ...               1.4       1
51                 6.4               3.2  ...               1.5       1
52                 6.9               3.1  ...               1.5       1
53                 5.5               2.3  ...               1.3       1
54                 6.5               2.8  ...               1.5       1
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[100 rows x 5 columns]

In [46]:
data.head(5)

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [47]:
data.apply(lambda x:x+1).head(5)

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                6.1               4.5  ...               1.2       1
1                5.9               4.0  ...               1.2       1
2                5.7               4.2  ...               1.2       1
3                5.6               4.1  ...               1.2       1
4                6.0               4.6  ...               1.2       1

[5 rows x 5 columns]

In [48]:
data.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [49]:
data.groupby(by='target').sum()

        sepal length (cm)  ...  petal width (cm)
target                     ...
0                   250.3  ...              12.3
1                   296.8  ...              66.3
2                   329.4  ...             101.3

[3 rows x 4 columns]

In [50]:
data.groupby(by='target').mean()

        sepal length (cm)  ...  petal width (cm)
target                     ...
0                   5.006  ...             0.246
1                   5.936  ...             1.326
2                   6.588  ...             2.026

[3 rows x 4 columns]

In [55]:
data.groupby(by='target').apply(lambda x:x.sort_values(by=['sepal length (cm)'],ascending=False)[1:2])

            sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
target                                           ...
0      18                 5.7               3.8  ...               0.3       0
1      52                 6.9               3.1  ...               1.5       1
2      135                7.7               3.0  ...               2.3       2

[3 rows x 5 columns]

In [57]:
data[data['target']==0]['sepal length (cm)'].sort_values(ascending=False)

14    5.8
15    5.7
18    5.7
33    5.5
36    5.5
5     5.4
20    5.4
10    5.4
31    5.4
16    5.4
48    5.3
27    5.2
28    5.2
32    5.2
0     5.1
21    5.1
17    5.1
19    5.1
39    5.1
44    5.1
46    5.1
23    5.1
7     5.0
4     5.0
49    5.0
25    5.0
26    5.0
43    5.0
35    5.0
40    5.0
1     4.9
34    4.9
37    4.9
9     4.9
45    4.8
11    4.8
12    4.8
30    4.8
24    4.8
29    4.7
2     4.7
6     4.6
47    4.6
3     4.6
22    4.6
41    4.5
42    4.4
38    4.4
8     4.4
13    4.3
Name: sepal length (cm), dtype: float64