<a href="https://colab.research.google.com/github/ycl818/Data_python/blob/main/Iris(2021_1_12).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
from sklearn import datasets

In [11]:
iris = datasets.load_iris()

In [13]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [17]:
import pandas as pd

In [18]:
x = pd.DataFrame(iris['data'],columns=iris['feature_names'])
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [23]:
y = pd.DataFrame(iris['target'],columns=['target'])
y

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 1 columns]

In [21]:
data = pd.concat([x,y], axis =1)
data

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [26]:
print(dict(enumerate(iris['target_names'])))

{0: 'setosa', 1: 'versicolor', 2: 'virginica'}

In [28]:
y1 = pd.DataFrame(pd.Series(iris['target']).map(dict(enumerate(iris['target_names']))),columns=['target_name'])
y1

    target_name
0        setosa
1        setosa
2        setosa
3        setosa
4        setosa
..          ...
145   virginica
146   virginica
147   virginica
148   virginica
149   virginica

[150 rows x 1 columns]

In [29]:
data = pd.concat([x,y1], axis =1)
data

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target_name
0                  5.1               3.5  ...               0.2       setosa
1                  4.9               3.0  ...               0.2       setosa
2                  4.7               3.2  ...               0.2       setosa
3                  4.6               3.1  ...               0.2       setosa
4                  5.0               3.6  ...               0.2       setosa
..                 ...               ...  ...               ...          ...
145                6.7               3.0  ...               2.3    virginica
146                6.3               2.5  ...               1.9    virginica
147                6.5               3.0  ...               2.0    virginica
148                6.2               3.4  ...               2.3    virginica
149                5.9               3.0  ...               1.8    virginica

[150 rows x 5 columns]