<a href="https://colab.research.google.com/github/ycl818/Data_python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
    import pandas as pd

In [3]:
print(pd.__version__)
print(pd.__file__)

1.1.4
/usr/local/lib/python3.6/dist-packages/pandas/__init__.py

#John Hopkins COVID-19 data

In [5]:
from datetime import date
from datetime import timedelta

today = date.today()
print(today)
day_delta = timedelta(days=-2)
data_date = today + day_delta
print(data_date)
print(type(data_date))
data_date_str = date.strftime(data_date, '%m-%d-%Y')
print(data_date_str)

2020-11-29
2020-11-27
<class 'datetime.date'>
11-27-2020

In [6]:
daily_report_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv"
daily_report_url = daily_report_url.format(data_date_str)
print(daily_report_url)

https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/11-27-2020.csv

In [8]:
daily_report = pd.read_csv(daily_report_url)
print(type(daily_report))
daily_report.head()

<class 'pandas.core.frame.DataFrame'>

   FIPS Admin2 Province_State  ... Combined_Key Incident_Rate  Case_Fatality_Ratio
0   NaN    NaN            NaN  ...  Afghanistan    117.752257             3.795894
1   NaN    NaN            NaN  ...      Albania   1259.469039             2.127190
2   NaN    NaN            NaN  ...      Algeria    182.818913             2.958787
3   NaN    NaN            NaN  ...      Andorra   8554.973144             1.149773
4   NaN    NaN            NaN  ...       Angola     45.663840             2.278785

[5 rows x 14 columns]

In [25]:
daily_report.shape

(3976, 14)

In [26]:
daily_report.dtypes

FIPS                   float64
Admin2                  object
Province_State          object
Country_Region          object
Last_Update             object
Lat                    float64
Long_                  float64
Confirmed                int64
Deaths                   int64
Recovered                int64
Active                 float64
Combined_Key            object
Incident_Rate          float64
Case_Fatality_Ratio    float64
dtype: object

#Practice-- pandas has massive functions importing tabular data

In [18]:
import pandas as pd
fav_movie = pd.read_csv('fav_movie.csv')

In [19]:
import sqlite3

conn =sqlite3.connect('movie.db')
fav_movie.to_sql('fav_movie',conn,if_exists='replace')

In [20]:
request_url ="https://www.imdb.com/chart/top"
web =pd.read_html(request_url)
print(type(web))

<class 'list'>

In [21]:
print(len(web))

1

In [22]:
print(type(web[0]))

<class 'pandas.core.frame.DataFrame'>

In [24]:
top_rate_movie = web[0]
top_rate_movie

     Unnamed: 0  ... Unnamed: 4
0           NaN  ...        NaN
1           NaN  ...        NaN
2           NaN  ...        NaN
3           NaN  ...        NaN
4           NaN  ...        NaN
..          ...  ...        ...
245         NaN  ...        NaN
246         NaN  ...        NaN
247         NaN  ...        NaN
248         NaN  ...        NaN
249         NaN  ...        NaN

[250 rows x 5 columns]