In [6]:
import pandas as pd
fav_movie = pd.read_csv('fav_movie.csv')
fav_movie

              name  year  imdb_rate
0   Queen's gambit  2020        8.8
1  The Dark Knight  2008        9.0
2        Inception  2010        8.7
3         Parasite  2019        8.5

In [24]:
import sqlite3
conn =sqlite3.connect('movie.db')

In [50]:
fav_movie.to_sql('fav_movie',conn, if_exists='replace')
sql_query = """
SELECT * 
  FROM fav_movie
WHERE year =2020;
"""
pd.read_sql(sql_query, conn)

   index            name  year  imdb_rate
0      0  Queen's gambit  2020        8.8

In [26]:
fav_mexcel= pd.read_excel('fav_movie.xls',sheet_name=1)
fav_mexcel

            name  year  imdb_rating
0  Spirited Away  2001          8.5
1       Parasite  2019          8.5
2         Idiots  2009          8.4

In [27]:
fav_mexcel= pd.read_excel('fav_movie.xls',sheet_name='Western')
fav_mexcel

              name  year  imdb_rating
0   Queen's gambit  2020          8.8
1  The Dark Knight  2008          9.0
2        Inception  2010          8.7

In [28]:
fav_mexcel= pd.read_excel('fav_movie.xls',sheet_name=1,header=None,skiprows=[0,3])
fav_mexcel

               0     1    2
0  Spirited Away  2001  8.5
1       Parasite  2019  8.5

In [30]:
ef = pd.ExcelFile('fav_movie.xls')

In [31]:
ef.sheet_names

['Western', 'Eastern']

In [33]:
movies_dict =dict()
for sheet in ef.sheet_names:
    df = pd.read_excel('fav_movie.xls',sheet_name=sheet)
    movies_dict[sheet]=df

In [34]:
movies_dict['Western']

              name  year  imdb_rating
0   Queen's gambit  2020          8.8
1  The Dark Knight  2008          9.0
2        Inception  2010          8.7

In [35]:
movies_dict['Eastern']

            name  year  imdb_rating
0  Spirited Away  2001          8.5
1       Parasite  2019          8.5
2         Idiots  2009          8.4

In [44]:
fovrite_mov = pd.read_json('f_movie.json')
fovrite_mov

             title  year  imdb_rating
0   Queen's gambit  2020          8.8
1  The Dark Knight  2008          9.0
2        Inception  2010          8.7